@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background: rgb(113, 89, 193);
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

header {
    padding: 24px;
    border-bottom: 1.5px solid #333;
    background: rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items:center;
    justify-content:center;

} 

.menu {
    display: flex;
    align-items: center;
    margin: auto;
    text-align: center;
   
}

.menu a {
    font-size: 18px;
    line-height: 28px;
    margin: 0 32px;
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: #50fa7b;
    transition: color 200ms;
}

.menu .redes {
    /* margin-left: 50%; */
}

.menu .redes img {
    width: 30px;
    /* align-items: center; */
}

 .menu .redes a {
    height: 18px;
    margin: 0 0 0 20px;
    width: 20px;
} 


.caixa {
    height: 400px;
    padding: 20px;
    background-color: white;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items:center;
    justify-content:center;
          
}

.caixa img {
    width: 60%;
    border-radius: 500px;
    border: 2px solid #50fa7b;
}

.caixa .logo {
    width: 400px;
    margin-top: 20px;
    text-align: center;
    /* margin-right: 200px; */
}

.caixa .logo h1 {
    color: rgb(75, 75, 75);
    font-size: 50px;
    font-weight: bold;
    margin: 15 0 20
            
}

.caixa .texto {
    margin-top: 20px;
    margin-left: 100px;
    width: 400px;
    text-align: left;
    line-height: 1.5;

}

.caixa .texto h2 {
    color: rgb(75, 75, 75);
}

.caixa .texto p {
    color: rgb(154, 142, 191)
}

/* cards */

 .tecnologias {
    height: 400px;
    padding: 20px;
    background-color: rgb(113, 89, 193);
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items:center;
    justify-content:center;
    display: relative;
    
   
}

.tecnologia {
    height: 400px;
    width: 100%;
    padding: 24px;
    margin-left: 180px;
    margin-right: 180px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content:center;
    display: absolute;
}

.logos {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10 10 10 10;
    align-items: center;
    text-align: center;
}

.logos img {
    padding: 24px;
    width: 60px;
}

.logos p {
    margin: 20px;
    text-align: justify;
}  

