{% extends "layout.njk" %}

{% block about %}
<body>

    <header>
        <div class="menu">
            
            <div id="" class="links">
                <a href="/">Sobre</a>
                <a href="/content">Conteúdos</a>
                <a href="https://discordapp.com/invite/gCRAFhc">Comunidade</a>
                <a href="mailto: oi@rocketseat.com.br">E-mail</a> 
                <a href="tel: +5547992078767">Telefone</a> 

                
            </div>
            <div class="redes">
                <a href="https://github.com/Rocketseat" target="_blank"><img src="github.svg" alt="github"></a>
                <a href="http://instagram.com/rocketseat_oficial" target="_blank"><img src="002-instagram-sketched.svg" alt="instagram"></a>
                <a href="http://fb.com/rocketseat" target="_blank"><img src="facebook.svg" alt="facebook"></a>
                
            </div>
        </div>

    </header> 

    <div class="caixa">
        
        <div class="texto">
            <h2>As melhores tecnologias em programação, direto ao ponto e do jeito certo.🚀</h2></br>

            <p>No meio de tanta informação e da quantidade de ferramentas que surgem todos os dias, você precisa de alguém que te leve na direção certa.</p>
        </div>

        <div class="logo">
            <img src="logo rocketseat.png" alt="Logo Rocketseat">
            <h1>Rocketseat</h1>
        </div>

    </div>
    
    <main>

        <section class="tecnologias">
            <div class="tecnologia">

                <div class="tecnologia-image-container">
                    <img src="javascript.svg" alt="javascript">
                </div>

                <div class="tecnologia-content">
                    <p>JavaScript é uma linguagem de programação que permite implementar funcionalidades mais complexas em páginas web. Sempre que uma página web faz mais do que apenas mostrar informações estáticas para você - ela mostra em tempo real conteúdos atualizados, mapas interativos, animações gráficas em 2D/3D, vídeos, etc. -  você pode apostar que o Javascript provavelmente está envolvido. </p>
                </div>

            </div>

            <div class="tecnologia">

                <div class="tecnologia-image-container">
                    <img src="react.svg" alt="ReactJS">
                </div>

                <div class="tecnologia-content">
                    <p>React faz com que a criação de UIs interativas seja uma tarefa fácil. Crie views simples para cada estado na sua aplicação, e o React irá atualizar e renderizar de forma eficiente apenas os componentes necessários na medida em que os dados mudam. </p>
                </div>

            </div>
            
            <div class="tecnologia">

                <div class="tecnologia-image-container">
                    <img src="nodejs.svg" alt="NodeJS">
                </div>

                <div class="tecnologia-content">
                    <p>Node.js é um ambiente de execução multi-plataforma em JavaScript que permite aos desenvolvedores produzirem aplicações para rede e server-side usando o JavaScript. </p>
                </div>

            </div>

        </section>
    
        
    </main> 

{% endblock %}
   







