{% extends "layout.njk" %}


{% block courses %}
<body class="bootcamp">
    

    <header>
        <div class="menu">
            
            <div id="" class="links">
                <a href="/">Sobre</a>
                <a href="/content">Conteúdos</a>
                <a href="https://discordapp.com/invite/gCRAFhc">Comunidade</a>
                <a href="mailto: oi@rocketseat.com.br">E-mail</a> 
                <a href="tel: +5547992078767">Telefone</a> 

                
            </div>
            <div class="redes">
                <a href="https://github.com/Rocketseat" target="_blank"><img src="github.svg" alt="github"></a>
                <a href="http://instagram.com/rocketseat_oficial" target="_blank"><img src="002-instagram-sketched.svg" alt="instagram"></a>
                <a href="http://fb.com/rocketseat" target="_blank"><img src="facebook.svg" alt="facebook"></a>
                
            </div>
        </div>

    </header>


    <section class="cards">
        {% for item in items %}
        <div class="card" id="{{item.id}}">
            <div class="cards-image-container">
                <img src="{{item.id}}.svg" alt="Imagem de {{item.id}}">
            </div>
            <div class="card-content">
                <p id="{{item.id}}-p"><strong>{{item.description}}</strong></p>
                <p>{{item.description1}}</p>
                <p>{{item.description2}}</p>
            </div>
            <div class="card-info">
                <p>{{item.duration}}</p>
                <p class="card-price">{{item.price}}</p>

            </div>
            
        </div>
        {% endfor %}

    </section>

    
    <script src="scripts.js"></script>

{% endblock %}


