@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background: rgb(113, 89, 193);
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

header {
    padding: 24px;
    border-bottom: 1.5px solid #333;
    background: rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items:center;
    justify-content:center;

} 

.menu {
    display: flex;
    align-items: center;
    margin: auto;
    text-align: center;
   
}

.menu a {
    font-size: 18px;
    line-height: 28px;
    margin: 0 32px;
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: #50fa7b;
    transition: color 200ms;
}

.menu .redes img {
    width: 30px;
    transition: all .5s;
}

.menu .redes img:hover {
    border: 2px solid #136497; 
    border-radius: 50%;  
}

 .menu .redes a {
    height: 18px;
    margin: 0 0 0 20px;
    width: 20px;
} 

.caixa {
    height: 400px;
    padding: 20px;
    background-color: white;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items:center;
    justify-content:center;          
}

.caixa img {
    width: 60%;
    border-radius: 500px;
    border: 2px solid #50fa7b;
}

.caixa .logo {
    width: 400px;
    margin-top: 20px;
    text-align: center;    
}

.caixa .logo h1 {
    color: rgb(75, 75, 75);
    font-size: 50px;
    font-weight: bold;
    margin: 15 0 20;            
}

.caixa .texto {
    margin-top: 20px;
    margin-left: 100px;
    width: 400px;
    text-align: left;
    line-height: 1.5;
}

.caixa .texto h2 {
    color: rgb(75, 75, 75);
}

.caixa .texto p {
    color: rgb(154, 142, 191);
}

/* tecnologias */

 .tecnologias {
    width: 100%;
    max-width: 1426px;
    margin: 0 auto;   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(400px, auto);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    margin-top: 50px;
    text-align: center;
    
}

.tecnologia {
    line-height: 28px;
    border-radius: 8px;
    margin-bottom: 50px;
    background-color: rgb(113, 89, 193);
    filter: brightness(90%);    
}

.tecnologia:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.02);
    border: 1.5px solid rgb(4, 211, 97);
}

.tecnologia-image-container img {
    width: 70px;
    padding: 0px;
    margin-top: 84px;
}

.tecnologia-content {
    padding: 24px;
    /* text-align: justify; */
}



/* === CONTEÚDOS === */

.bootcamp {
    background: rgb(11, 10, 13);
}

.cards {
    width: 100%;
    max-width: 1426px;
    margin: 0 auto;   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(650px, auto);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    margin-top: 50px;

}


.card {
    background-color: rgb(11, 10, 13);
    filter: contrast(90%);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    text-align: center;
    
}

.card p {
    line-height: 28px;
}

.card:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.02);
    border: 2px solid;
}
#starter:hover{
    border-color: rgb(113, 89, 193);
}

#launchbase:hover{
    border-color: rgb(253, 149, 31);
}

#gostack:hover{
    border-color: rgb(4, 211, 97);
}



.cards-image-container {
    padding: 50px;
    margin-top: 84px;

}


.card-content,
.card-info {
    padding: 24px;
    
}

#starter-p {
    color: rgb(113, 89, 193);
}

#launchbase-p {
    color: rgb(253, 149, 31);
}

#gostack-p {
    color: rgb(4, 211, 97);
}
    
/* === MODAL === */

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.modal .close-modal {
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

.modal .maximize-modal {
    color: black;
    position: absolute;
    right: 40px;
    top: 12px;
    cursor: pointer;
}

/* === MODAL.ACTIVE === */

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal.maximize {
    width: 100%;
    height: 100%;
    margin: 0;
    
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;

}